<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="cartpole_mujoco">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.07854" />
      <inertia
        ixx="9.8175E-07"
        ixy="3.5293E-21"
        ixz="-3.7944E-37"
        iyy="0.0065455"
        iyz="9.5586E-55"
        izz="0.0065455" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="cart">
    <inertial>
      <origin
        xyz="1.0408E-17 -0.010651 0"
        rpy="0 0 0" />
      <mass
        value="0.042956" />
      <inertia
        ixx="1.0797E-05"
        ixy="6.8054E-21"
        ixz="-4.5446E-21"
        iyy="4.0691E-05"
        iyz="2.9659E-21"
        izz="4.0384E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/cart.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/cart.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="cart_prismatic"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="cart" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.47"
      upper="0.47"
      effort="1000"
      velocity="100" />
  </joint>
  <link
    name="pole_hinge">
    <inertial>
      <origin
        xyz="0.11369 7.263E-07 0.0076308"
        rpy="0 0 0" />
      <mass
        value="0.031087" />
      <inertia
        ixx="1.8771E-05"
        ixy="-9.3199E-10"
        ixz="-4.0181E-05"
        iyy="0.00032381"
        iyz="-4.1576E-10"
        izz="0.00030542" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/pole_hinge.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/pole_hinge.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pole_hinge"
    type="continuous">
    <origin
      xyz="0.036 -0.02 0"
      rpy="1.5708 0 1.5708" />
    <parent
      link="cart" />
    <child
      link="pole_hinge" />
    <axis
      xyz="0 0 1" />
  </joint>
</robot>